@model IEnumerable<Storage.Models.ProductViewModel>

@{
    ViewData["Title"] = "Inventory";
}

<h1>Inventory</h1>

<table class="table">
    <thead>
        <tr>
            <th class="text-start">@Html.DisplayNameFor(model => model.Name)</th>
            <th class="text-end">@Html.DisplayNameFor(model => model.Price)</th>
            <th class="text-end">@Html.DisplayNameFor(model => model.Count)</th>
            <th class="text-end">@Html.DisplayNameFor(model => model.InventoryValue)</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
        <tr>
            <td class="text-start">@Html.DisplayFor(modelItem => item.Name)</td>
            <td class="text-end">@Html.DisplayFor(modelItem => item.Price)</td>
            <td class="text-end">@Html.DisplayFor(modelItem => item.Count)</td>
            <td class="text-end">@Html.DisplayFor(modelItem => item.InventoryValue)</td>
        </tr>
}
    </tbody>
    <tfoot>
        <tr>
            <th class="text-start">Total</th>
            <td></td>
            <td></td>
            <td class="text-end">@Model.Sum(model => model.InventoryValue)</td>
        </tr>
    </tfoot>
</table>
