@model IEnumerable<ProductViewModel>

@{
    ViewData["Title"] = "Inventory";
}

<h1>Inventory</h1>

<table class="table">
    <thead>
        <tr>
            <th class="text-start">@Html.DisplayNameFor(productView => productView.Name)</th>
            <th class="text-end">@Html.DisplayNameFor(productView => productView.Price)</th>
            <th class="text-end">@Html.DisplayNameFor(productView => productView.Count)</th>
            <th class="text-end">@Html.DisplayNameFor(productView => productView.InventoryValue)</th>
        </tr>
    </thead>
    <tbody>
@foreach (var productView in Model)
{
        <tr>
            <td class="text-start">@Html.DisplayFor(_ => productView.Name)</td>
            <td class="text-end">@Html.DisplayFor(_ => productView.Price)</td>
            <td class="text-end">@Html.DisplayFor(_ => productView.Count)</td>
            <td class="text-end">@Html.DisplayFor(_ => productView.InventoryValue)</td>
        </tr>
}
    </tbody>
    <tfoot>
        <tr>
            <th>Total</th>
            <td></td>
            <td></td>
            <td class="text-end">@Model.Sum(productView => productView.InventoryValue)</td>
        </tr>
    </tfoot>
</table>
